<h1>About</h1>
<h3><%= link_to "Home", home_path %> | <%= link_to "About", about_path %></h3>
<hr>
<ul>
  <li><%= link_to "Home", home_path %></li>
  <li>About</li>
</ul>
<hr>
<p>Help oh no im not good at computers<p>