<h1>This is my wicked awesome shopping site!</h1>
<h3><%= link_to "Home", home_path %> | <%= link_to "About", about_path %></h3>
<hr>
<p>Here are some wicked awesome categories!<p>
<ul>
  <% @categories.each do |category| %>
  <li><%= link_to category.name, category_path(category.name) %></li>
  <% end %>
</ul>