<%= render 'header', title: @category.name %>

<div id="product">
  <p><%= @category.description %></p>
  <hr>
  <% @category.products.each do |product| %>
  <p><%= link_to product.name, product_path(product.id) %></p>
  <% end %>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <p><%= product.name %></p>
    <% end %>
  <% else %>
    <p>@products is not present</p>
  <% end %>
</div>