<%= render 'header' %>
<main>
  <h2><%= @category.name %></h2>
<% @category.products.each do |product| %>
  <section>
    <h3><%= link_to product.name, product_path(product.name) %></h3>
    <hr>
    <p><%= product.description %></p>
  </section>
<% end %>
</main>