<section class="search_result">
  <h3><%= link_to product.name, product_path(product.id) %></h3>
  <% unless session[:current_user_id] == nil %>
  <button class="add_wishlist" value="<%= product.id %>">Add to cart</button>
  <button class="del_wishlist" value="<%= product.id %>">Remove from cart</button>
  <% end %>
  <hr>
  <p><%= product.description %></p>
</section>